GITHUB_USERNAME=XXXXXXXX
GITHUB_APPID=12678
GITHUB_APP_PRIVATEKEY='-----BEGIN RSA PRIVATE KEY-----FGIHJOIJOILJIUGIOILJIHIgJJIUKJHJGB KEY-----'
GITHUB_APP_CLIENTID=XXX.XXXXXXXXXXXXXXXXXX
GITHUB_APP_CLIENTSECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GITHUB_APP_INSTALLATIONID=00000000
#DEBUG=action-dashboard:*
